{% extends "base.html" %}

{% block page_content %}
  <a class="btn btn-primary float-right mb-4" href="{% url 'cadastrar-endereco' %}">Novo Endereco</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Rua</th>
        <th scope="col">Bairro</th>
        <th scope="col">Numero</th>
        <th></th>
        <th scope="col">Estado</th>
        <th></th>
        <th scope="col">Cidade</th>
        <th></th>
        <th class="text-right pr-4" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for endereco in enderecos %}
        <tr>
          <th scope="row">{{ endereco.id }}</th>
          <td>{{ endereco.rua }}</td>
          <td>{{ endereco.bairro }}</td>
          <td>{{ endereco.numero }}<td>
          <td>{{ endereco.estado }}<td>
          <td>{{ endereco.cidade }}<td>
          <td class="float-right border-0">
            <a class="btn-sm btn-secondary mx-1" href="{% url 'visualizar-endereco' codigo=endereco.id %}">Visualizar</a>
            <a class="btn-sm btn-primary mx-1" href="{% url 'editar-endereco' codigo=endereco.id %}">Editar</a>
            <a class="btn-sm btn-danger mx-1" href="{% url 'excluir-endereco' codigo=endereco.id %}">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  

{% endblock %}